<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0" rim:backButton="exit">  
    <name>BerryApp</name>  
    <description>BerryApp</description>  
    <author email="application author's e-mail">application's author</author>  
    <feature id="worklightFeature" required="false" version="1.0.0"/>  
    <feature id="blackberry.ui.dialog" version="1.0.0"/>  
    <feature id="blackberry.ui.menu" version="1.0.0"/>  
    <feature id="blackberry.invoke" version="1.0.0"/>  
    <feature id="blackberry.invoke.BrowserArguments" version="1.0.0"/>  
    <feature id="blackberry.identity" version="1.0.0"/>  
    <feature id="blackberry.app" version="1.0.0"/>  
    <feature id="blackberry.app.event" version="1.0.0"/>  
    <access subdomains="true" uri="*"/>  
    <content src="www/skinLoader.html"/>  
    <icon rim:hover="false" src="icon.png"/>  
    <rim:loadingScreen backgroundImage="" foregroundImage="splash.png" onLocalPageLoad="false" onFirstLaunch="true"/> 
</widget>
